@import 'variables';

// Flexbox Mixin
@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Button Styling Mixin
@mixin button-style ($background-color: $purple-color, $color: $white-color, $padding: 0.2em, $hover-color: $purple-color-hover) {
  background-color: $background-color;
  color: $color;
  padding: $padding;
  cursor: pointer;
  &:hover {
    background-color: $hover-color;
  }
}