//////////////////////////////////////////VARIABLES//////////////////////////////////////////////////////

$font: "Source Sans 3", sans-serif;
$btn-font: "Bungee";

$background-color: #f4f1ec;
$font-color:#545149;

$aqua-color: #369096;
$purple-color:#630d63;
$purple-color-hover:#884e88;
$white-color: white;
$blue-color: #4056A1;
$red-color: #D8000C;
$hover-blue:#4f6bce;
$ligtht-red:#FFBABA;