/**
* Header Styling
*/

.user_header {
  padding-top: 120px;
  height: 520px;
  width: 100vw;
  background-color: #369096; 
  background-image: url("../images/brick-wall-dark.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Desktop styles */
@media only screen and (min-width: 1024px) {


  .user_header {
    background-color: #4056A1;
    color: white;
  }