/*
* Styling for the nav bar
*/

nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span {
  font-family: "Bungee";
}

p {
  margin: 0;

}
 i {
  color: red;

 }

 div {
  display: flex;
  flex-direction: column;
  align-items: center;
 }