/** Styling for New Tweet component
*/

.new-tweet-form {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.tweet-text {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  border: none;
  border-bottom: black solid 0.1em;
}

.tweet-send {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-family: "bungee";
}

.tweet-button {
  font-family: "bungee";
  background-color:#4056A1;
  color: white;
  padding: 0.2em;
  cursor: pointer;
}

.tweet-button:hover {
  background-color: #4f6bce;
}

.counter-red {
  color: red
}

#error-message {
  color: #D8000C;
  background-color: #FFBABA;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
}

#error-message img {
  width: 5%;
  height: 5%;
  margin: 10px;
}